@import "../variables/index";

.app-text-input {
  min-width: 230px;
  padding-right: $app-input__gutter-padding;

  &__label {
    font-size: $content__font-size;

    span {
      display: block;
      padding: $app-input__label-padding;
    }
  }

  &__input {
    width: 100%;
    padding: $app-input-text__padding;
    font-size: $title__font-size;
    border: 1px solid $input_border;
    border-radius: $app-input__border-radius;
    box-sizing: border-box;

    &--invalid {
      border-color: $input_border--invalid;
    }
  }
}
