/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~@/assets/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~@/assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('~@/assets/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('~@/assets/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~@/assets/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

$font-family: 'Roboto', Verdana, Geneva, sans-serif;

$title__font-size: 20px;
$content__font-size: 16px;

$app-input-checkbox__font-size: 30px;

$menu-item__icon__font-size: 36px;

$app-button__icon-only__font-size: 30px;

$activity__tooltip__padding: 10px 15px;

$modal__header__font-size: 20px;
$modal__header__line-height: 18px;
