$app-padding: 15px;

$app-header-height: 50px;

$app-main-menu-width: 80px;

$tab-view__header__padding: 10px 20px;

$app-tab-view__content__padding: 25px;

$app-input-text__padding: 10px 15px;
$app-input__border-radius: 5px;
$app-input__label-padding: 5px 0;
$app-input-text__min-width: 350px;
$app-input__gutter-padding: 15px;
$app-input-dropdown__padding: 10px 45px 10px 15px;
$app-input-time__padding: 10px 15px;
$app-input__utility-icon-position-offset: 15px;
$app-input-checkbox__width: 45px;

$app-button__padding: 12px 25px;
$app-button__icon-only__padding: 8px 25px;
$app-button__border-radius: 5px;
$app-button__icon__margin-right: 10px;

$app-routine-board__cell-size: 50px;
$app-routine-board__heading-padding: 10px;
$app-routine-board__heading-min-width: 107px;

$app-modal__width: 500px;
$app-modal__header__padding: 0 15px;
